{% extends 'layout/layout.twig' %}

{% block title %}{{ title|default('Hubble') }}{% endblock title %}

{% block content %}
    <section class="row branch">
        <section class="column center"><strong>Status</strong></section>
        <section class="two column"><strong>Name</strong></section>
        <section class="column center"><strong>Team</strong></section>
        <section class="column center"><strong>Sprints</strong></section>
        <section class="column center"><strong>Date</strong></section>
    </section>

    {% for branch in branches %}
        <section class="row branch">
            <section class="column center">{{ branch.status|capitalize }}</section>
            <section class="two column">{{ branch.name }}</section>
            <section class="column center">{{ branch.team }}</section>
            <section class="column center">{{ branch.sprints|join(', ') }}</section>
            <section class="column center">{{ branch.created|date('jS F') }}</section>
        </section>
    {% endfor %}
{% endblock content %}
