{% extends 'layout/layout.twig' %}

{% block content %}
    <h2>????????????????????????</h2>

    {% if reason == 'error-controller-cannot-dispatch' %}
        {% set reasonMessage = 'The requested controller was unable to dispatch the request.' %}
    {% elseif reason == 'error-controller-not-found' %}
        {% set reasonMessage = 'The requested controller could not be mapped to an existing controller class.' %}
    {% elseif reason == 'error-controller-invalid' %}
        {% set reasonMessage = 'The requested controller was not dispatchable.' %}
    {% elseif reason == 'error-router-no-match' %}
        {% set reasonMessage = 'The requested URL could not be matched by routing.' %}
    {% else %}:
        {% set reasonMessage = 'We cannot determine at this time why a 404 was generated.' %}
    {% endif %}

    <h3>{{ message }} - {{ reasonMessage }}</h3>


    {% if exception %}
        <dl>
            <dt>File:</dt>
            <dd>
                <pre>{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
            </dd>
            <dt>Message:</dt>
            <dd>
                <pre>{{ exception.getMessage() }}</pre>
            </dd>
            <dt>Stack trace:</dt>
            <dd>
                <pre>{{ exception.getTraceAsString() }}</pre>
            </dd>
        </dl>
    {% else %}
        <p>No exception found</p>
    {% endif %}

{% endblock content %}
